@import "./config";
@import "./mixins";

.tag-scroller {
  width: $tag-scroller-width;
  height: $minimap-height;
  overflow-y: auto;
  background-color: chocolate;
  @include user-select(none);

  .tag {
    height: $tag-height;
    width: auto;
    background-color: aquamarine;
    border: 1px solid;
    align-content: center;
  }
}
