.minimap {
		position: relative;
		height: 500px;
		width: 500px;
		background: green;

		.playerIcon {
				position: absolute;
				width: 10px;
				height: 10px;
				background: brown;
				border-radius: 50%;
				transform: translate(-50%, 50%);
		}
}
