@import "./mixins";

.timeline {
	position: relative;
	height: 20px;
	width: 500px;
	@include user-select(none);

	.bar {
		position: relative;
		top: 5px;
		height: 10px;
		background: red;
	}

	.knob {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 10px;
		height: 20px;
		background: blue;
		border-radius: 5px;
		transform: translateX(-50%);
	}
}
