@import play.api.libs.json.JsObject
@import play.twirl.api.Html

@(gids : Seq[JsObject])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var myGids = []
        @for(gid <- gids){
            myGids.push(@Html(gid.toString))
        }
    </script>
    <script src="@routes.Assets.versioned("javascripts/src/gg/climb/controllers/GamesListController.ts")"
    type="text/javascript"></script>
</head>
<body onload="makeList(myGids)">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Fifth-Drake</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/lol/games/ ">Games</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Games</h2>
    <ul id = "gamesList" class="list-group">
     </ul>
     <div class="col-xs-3" id="inputs">
    <input class="form-control" type="text" name="team" id="team" />
    <input type="button" class="btn btn-primary" value="filter" onclick="filterBy()" />
    <input type="button" class="btn btn-primary" value="clear-filter" onclick="makeList(myGids)" />
    </div>
</div>

</body>
</html>
