@import play.api.libs.json.{JsObject,JsValue}
@import play.twirl.api.Html

@(data : JsObject)
<head>
    <title>Game</title>
    <!-- Text Format/MetaData for page-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS files-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/src/gg/climb/controllers/VideoController.ts")"
    type="text/javascript"></script>
</head>
<body onload="loadVod('@Html(data.value.getOrElse("vodURL", null).toString.replace("\"",""))')">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Fifth-Drake</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/lol/games/ ">Games</a></li>
          <li class="active"><a href="#">DashBoard</a></li>
        </ul>
      </div>
    </nav>
    <div id = "display">
        <div id="player"></div>
        <div id="map">
            <img src="@routes.Assets.versioned("images/map.jpg")">
        </div>
    </div>
    <div class="col-xs-3" id="inputs">
        <input class="form-control" type="number" min="0" max="1000000" name="value" id="value" />
        <input type="button" class="btn btn-primary" value="submit" onclick="jumpVideo()" />
    </div>
</body>
