@import play.api.libs.json.{JsObject,JsValue}
@import play.twirl.api.Html

@(gids : Seq[JsObject])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Games</h2>
    <ul class="list-group">
        @for(gid <- gids) {
        <li class="list-group-item">
            <a href= /lol/games/id/@Html(gid.value.getOrElse("gameKey", null).toString) class="list-group-item">
                @gid.value.get("team1") vs @gid.value.get("team2") @gid.value.get("gameDate")
            </a>
        </li>
        }
</div>

</body>
</html>
