<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fifth-Drake</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Fifth-Drake</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/lol/games/ ">Games</a></li>
            </ul>
        </div>
    </nav>
</html>
