@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container" id="form">
            <form method="get" action="/form">
                <fieldset id="settings">
                    <legend>Analytics Settings:</legend>
                    YouTube Link: <textarea name="link" placeholder="https://www.youtube.com/watch?v=NVNLAdVL44w" rows="1" cols="30" style="resize:none;"></textarea><br>
                    Ban Phase: <textarea name="ban" placeholder="5:56" rows="1" cols="10" style="resize:none;"></textarea><br>
                    PreGameScreen: <textarea name="pregame" placeholder="10:55" rows="1" cols="10" style="resize:none;"></textarea><br>
                    Start Time: <textarea name="start" placeholder="11:13" rows="1" cols="10" style="resize:none;"></textarea><br>
                    End Time: <textarea name="end" placeholder="13:13" rows="1" cols="10" style="resize:none;"></textarea><br>
                    <button id="submit" type="submit">Analyze!</button>
                </fieldset>
            </form>
        </div>
        <div class="container" id="json">
            <code>
                <pre id="jsontext">
    @content
            </pre>
            </code>
        </div>
    </body>
</html>
