@import "../mixins";

$font-stack: Calibri, "Calibri", sans serif;
$primary-color: #b59fe8;
$secondary-color: #2883ff;


$collapsed-width: 3vw;
$expanded-width: 15vw;


.navbar-left {
  font-size: 24px;
  background: $primary-color;
  color: white;
  position: fixed;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  @include user-select(none);

  & .collapsed {
    width: $collapsed-width;
    transition: width 0.5s ease-in-out;
  }

  & .expanded {
    width: $expanded-width;
    transition: width 0.5s ease-in-out;
  }

  #navbar-left-logo {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    & :hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  #navbar-links {
    text-align: center;

    a {
      padding: 5px;
      display: table;

      span {
        display: table-cell
      }

      & :hover {
        color: $secondary-color;
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

#collapsible {
  text-align: right;
  padding: 5px;
  color: $secondary-color;

  & a:hover {
    color: white;
    cursor: pointer;
    cursor: hand;
  }
}